.Form{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
}

.Form h1{
	text-align: center;
}

.Form button{
	background-color: #563e33 !important;
	color: #ffd740 !important;
    padding: 12.5px 22.5px;
    border-radius: 50px;
    font-size: 16px !important;
    font-weight: 600 !important;
    border: 2px solid #563e33;
    white-space: nowrap;
	margin: 25px 0 15px 0;
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 10px;
	transition: 0.1s ease-in-out;
	cursor: pointer;
}

.Form button:hover{
	transform: transitionY(5px);
}

.MainText, .SubText {
	text-align: center;
	font-size: 14px;
}

.MainText {
	margin-top: 10px;
}

.SubText {
	font-weight: 600;
	cursor: pointer;
}