@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
	font-family: 'Raleway', sans-serif;
	color: #563e33
}